.fiche {
    width: 90vw;
    max-width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}



.fichecontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    max-width: 1240px;
    margin-top: 20px;

}

.informations {
    color: #ff6060;
    font-family: montserrat;
    width: 635px;
    height: 77px;
    display: flex;
    flex-direction: column;
}

.titrelogement {
    font-size: 36px;
    font-weight: 500;
    margin: 0 25px 0 0;
}

.adresse {
    font-family: montserrat;
    font-size: 18px;
    font-weight: 500;
    margin: 5px 0px 18px 0px;
}

.tags {

    display: flex;
    flex-direction: row;
}

.dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
margin-bottom:20px;
}

.dropdownright {
    max-width: 582px;
    width: 582px;
}



.dropdownleft {
    width: 582px;
    max-width: 582px;
}


@media (max-width: 375px) {
    .fiche {
        width: 335px;
        height: 255px;
        border-radius: 10px;
    }
    .fichecontainer{
        flex-direction:column;
    }
    .titrelogement {
        font-size:18px;
    }
}