.fiche {
    width: 90vw;
    max-width: 1240px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 375px) {
    .fiche {
        width: 335px;
        height: 255px;
        border-radius: 10px;
    }
}

.fichecontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    max-width: 1240px;

}

.informations {
    color: #ff6060;
    font-family: montserrat;
    width: 635px;
    height: 77px;
    display: flex;
    flex-direction: column;
}

.titrelogement {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}

.adresse {
    font-family: montserrat;
    font-size: 18px;
    font-weight: 500;
}

.tags {

    display: flex;
    flex-direction: row;
}

.dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dropdownright {
    max-width: 582px;
    width: 582px;
}



.dropdownleft {
    width: 582px;
    max-width: 582px;
}