.aproposcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aproposbanner {
    position: relative;
    background-color: #F6F6F6;
    border-radius: 25px;
    height: 223px;
    max-width: 1240px;
    font-size: 16px;
    width: 90vw;
}

.bannerimage2 {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(0.7);
}

.dropdownssection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.dropdowncontainer {
    margin-bottom: 10px;
    position: relative;
    max-width: 90vw;
    margin: 1vh 10vw;
}

@media (max-width: 375px) {


    .aproposbanner {
        width: 100%;
        border-radius: 25px;
        max-width: 93vw;
    }

    .bannerimage2 {
        object-fit: fill;
        border-radius: 25px;
    }
}


@media screen and (min-width: 1450px) {
    .aproposcontainer {
        max-width: 1440px;
    }
}